*.pyc
*.cmake
*.dylib
*.so
*.so.*
*.log
*.prof

.DS_Store
_neat.so
Makefile
libneat-static.a
CMakeCache.txt
neat.py

.idea/
__pycache__/
examples/
socketapi/
documentation/_build/
tests/
CMakeFiles/
build/
dist/
*.egg-info/
